@{
    ViewBag.Title = "Anasayfa";
}
@Html.Partial("_HomeSliderPartial")
<div class="container container-ver2">
    <div class="banner-home2 center">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <a class="hover-images" href="#" title="images">
                    <img class="img-responsive" src="~/Content/assets/images/banner/3.jpg" alt="banner">
                </a>
            </div>
            <!--End col-md-4-->
            <div class="col-md-4 col-sm-4">
                <a href="#" class="hover-images" title="ịmages">
                    <img class="img-responsive" src="~/Content/assets/images/banner/3.jpg" alt="banner">
                </a>
            </div>
            <!--End col-md-4-->
            <div class="col-md-4 col-sm-4">
                <a href="#" class="hover-images" title="images">
                    <img class="img-responsive" src="~/Content/assets/images/banner/3.jpg" alt="banner">
                </a>
            </div>
            <!--End col-md-4-->
        </div>
    </div>
</div>
<!--End Banner Home 2 -->
<div class="container">
    <div id="primary" class="col-xs-12 col-md-9">
        <div class="wrap-breadcrumb">
            <div class="ordering">
                <div class="float-left">
                    <span class="col active"></span>
                    <span class="list"></span>
                </div>
                <div class="float-right">
                    <form action="#" method="get" class="order-by">
                        <p>Sort by :</p>
                        <select class="orderby" name="orderby">
                            <option>popularity</option>
                            <option selected="selected">average rating</option>
                            <option>newness</option>
                            <option>price: low to high</option>
                            <option>price: high to low</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
        <div class="products ver2 grid_full grid_sidebar hover-shadow furniture">
            <div class="item-inner">
                <div class="product">
                    <div class="product-images">
                        <a href="#" title="product-images">
                            <img class="primary_image" src="~/Content/assets/images/products/1.jpg" alt="" />
                            <img class="secondary_image" src="~/Content/assets/images/products/1.jpg" alt="" />
                        </a>
                    </div>
                    <a href="#" title="Bouble Fabric Blazer"><p class="product-title">Bouble Fabric Blazer</p></a>
                    <p class="product-price-old">$700.00</p>
                    <p class="product-price">$69.90</p>
                    <div class="action">
                        <a class="add-cart" href="#" title="Add to cart"></a>
                        <a class="wish" href="#" title="Wishlist"></a>
                        <a class="zoom" href="#" title="Quick view"></a>
                    </div>
                    <!-- End action -->
                    <div class="social box">
                        <h3>Share this :</h3>
                        <a class="twitter" href="#" title="social"><i class="fa fa-twitter-square"></i></a>
                        <a class="dribbble" href="#" title="social"><i class="fa fa-dribbble"></i></a>
                        <a class="skype" href="#" title="social"><i class="fa fa-skype"></i></a>
                        <a class="pinterest" href="#" title="social"><i class="fa fa-pinterest"></i></a>
                        <a class="facebook" href="#" title="social"><i class="fa fa-facebook-square"></i></a>
                    </div>
                </div>
                <!-- End product -->
            </div>
            <div class="item-inner">
                <div class="product">
                    <div class="product-images">
                        <a href="#" title="product-images">
                            <img class="primary_image" src="~/Content/assets/images/products/1.jpg" alt="" />
                            <img class="secondary_image" src="~/Content/assets/images/products/1.jpg" alt="" />
                        </a>
                    </div>
                    <a href="#" title="Bouble Fabric Blazer"><p class="product-title">Bouble Fabric Blazer</p></a>
                    <p class="product-price-old">$700.00</p>
                    <p class="product-price">$69.90</p>
                    <div class="action">
                        <a class="add-cart" href="#" title="Add to cart"></a>
                        <a class="wish" href="#" title="Wishlist"></a>
                        <a class="zoom" href="#" title="Quick view"></a>
                    </div>
                    <!-- End action -->
                    <div class="social box">
                        <h3>Share this :</h3>
                        <a class="twitter" href="#" title="social"><i class="fa fa-twitter-square"></i></a>
                        <a class="dribbble" href="#" title="social"><i class="fa fa-dribbble"></i></a>
                        <a class="skype" href="#" title="social"><i class="fa fa-skype"></i></a>
                        <a class="pinterest" href="#" title="social"><i class="fa fa-pinterest"></i></a>
                        <a class="facebook" href="#" title="social"><i class="fa fa-facebook-square"></i></a>
                    </div>
                </div>
                <!-- End product -->
            </div>
            <div class="item-inner">
                <div class="product">
                    <div class="product-images">
                        <a href="#" title="product-images">
                            <img class="primary_image" src="~/Content/assets/images/products/1.jpg" alt="" />
                            <img class="secondary_image" src="~/Content/assets/images/products/1.jpg" alt="" />
                        </a>
                    </div>
                    <a href="#" title="Bouble Fabric Blazer"><p class="product-title">Bouble Fabric Blazer</p></a>
                    <p class="product-price-old">$700.00</p>
                    <p class="product-price">$69.90</p>
                    <div class="action">
                        <a class="add-cart" href="#" title="Add to cart"></a>
                        <a class="wish" href="#" title="Wishlist"></a>
                        <a class="zoom" href="#" title="Quick view"></a>
                    </div>
                    <!-- End action -->
                    <div class="social box">
                        <h3>Share this :</h3>
                        <a class="twitter" href="#" title="social"><i class="fa fa-twitter-square"></i></a>
                        <a class="dribbble" href="#" title="social"><i class="fa fa-dribbble"></i></a>
                        <a class="skype" href="#" title="social"><i class="fa fa-skype"></i></a>
                        <a class="pinterest" href="#" title="social"><i class="fa fa-pinterest"></i></a>
                        <a class="facebook" href="#" title="social"><i class="fa fa-facebook-square"></i></a>
                    </div>
                </div>
                <!-- End product -->
            </div>
            <div class="item-inner">
                <div class="product">
                    <div class="product-images">
                        <a href="#" title="product-images">
                            <img class="primary_image" src="~/Content/assets/images/products/1.jpg" alt="" />
                            <img class="secondary_image" src="~/Content/assets/images/products/1.jpg" alt="" />
                        </a>
                    </div>
                    <a href="#" title="Bouble Fabric Blazer"><p class="product-title">Bouble Fabric Blazer</p></a>
                    <p class="product-price-old">$700.00</p>
                    <p class="product-price">$69.90</p>
                    <div class="action">
                        <a class="add-cart" href="#" title="Add to cart"></a>
                        <a class="wish" href="#" title="Wishlist"></a>
                        <a class="zoom" href="#" title="Quick view"></a>
                    </div>
                    <!-- End action -->
                    <div class="social box">
                        <h3>Share this :</h3>
                        <a class="twitter" href="#" title="social"><i class="fa fa-twitter-square"></i></a>
                        <a class="dribbble" href="#" title="social"><i class="fa fa-dribbble"></i></a>
                        <a class="skype" href="#" title="social"><i class="fa fa-skype"></i></a>
                        <a class="pinterest" href="#" title="social"><i class="fa fa-pinterest"></i></a>
                        <a class="facebook" href="#" title="social"><i class="fa fa-facebook-square"></i></a>
                    </div>
                </div>
                <!-- End product -->
            </div>
            <div class="item-inner">
                <div class="product">
                    <div class="product-images">
                        <a href="#" title="product-images">
                            <img class="primary_image" src="~/Content/assets/images/products/1.jpg" alt="" />
                            <img class="secondary_image" src="~/Content/assets/images/products/1.jpg" alt="" />
                        </a>
                    </div>
                    <a href="#" title="Bouble Fabric Blazer"><p class="product-title">Bouble Fabric Blazer</p></a>
                    <p class="product-price-old">$700.00</p>
                    <p class="product-price">$69.90</p>
                    <div class="action">
                        <a class="add-cart" href="#" title="Add to cart"></a>
                        <a class="wish" href="#" title="Wishlist"></a>
                        <a class="zoom" href="#" title="Quick view"></a>
                    </div>
                    <!-- End action -->
                    <div class="social box">
                        <h3>Share this :</h3>
                        <a class="twitter" href="#" title="social"><i class="fa fa-twitter-square"></i></a>
                        <a class="dribbble" href="#" title="social"><i class="fa fa-dribbble"></i></a>
                        <a class="skype" href="#" title="social"><i class="fa fa-skype"></i></a>
                        <a class="pinterest" href="#" title="social"><i class="fa fa-pinterest"></i></a>
                        <a class="facebook" href="#" title="social"><i class="fa fa-facebook-square"></i></a>
                    </div>
                </div>
                <!-- End product -->
            </div>
            <div class="item-inner">
                <div class="product">
                    <div class="product-images">
                        <a href="#" title="product-images">
                            <img class="primary_image" src="~/Content/assets/images/products/1.jpg" alt="" />
                            <img class="secondary_image" src="~/Content/assets/images/products/1.jpg" alt="" />
                        </a>
                    </div>
                    <a href="#" title="Bouble Fabric Blazer"><p class="product-title">Bouble Fabric Blazer</p></a>
                    <p class="product-price-old">$700.00</p>
                    <p class="product-price">$69.90</p>
                    <div class="action">
                        <a class="add-cart" href="#" title="Add to cart"></a>
                        <a class="wish" href="#" title="Wishlist"></a>
                        <a class="zoom" href="#" title="Quick view"></a>
                    </div>
                    <!-- End action -->
                    <div class="social box">
                        <h3>Share this :</h3>
                        <a class="twitter" href="#" title="social"><i class="fa fa-twitter-square"></i></a>
                        <a class="dribbble" href="#" title="social"><i class="fa fa-dribbble"></i></a>
                        <a class="skype" href="#" title="social"><i class="fa fa-skype"></i></a>
                        <a class="pinterest" href="#" title="social"><i class="fa fa-pinterest"></i></a>
                        <a class="facebook" href="#" title="social"><i class="fa fa-facebook-square"></i></a>
                    </div>
                </div>
                <!-- End product -->
            </div>
            <div class="item-inner">
                <div class="product">
                    <div class="product-images">
                        <a href="#" title="product-images">
                            <img class="primary_image" src="~/Content/assets/images/products/1.jpg" alt="" />
                            <img class="secondary_image" src="~/Content/assets/images/products/1.jpg" alt="" />
                        </a>
                    </div>
                    <a href="#" title="Bouble Fabric Blazer"><p class="product-title">Bouble Fabric Blazer</p></a>
                    <p class="product-price-old">$700.00</p>
                    <p class="product-price">$69.90</p>
                    <div class="action">
                        <a class="add-cart" href="#" title="Add to cart"></a>
                        <a class="wish" href="#" title="Wishlist"></a>
                        <a class="zoom" href="#" title="Quick view"></a>
                    </div>
                    <!-- End action -->
                    <div class="social box">
                        <h3>Share this :</h3>
                        <a class="twitter" href="#" title="social"><i class="fa fa-twitter-square"></i></a>
                        <a class="dribbble" href="#" title="social"><i class="fa fa-dribbble"></i></a>
                        <a class="skype" href="#" title="social"><i class="fa fa-skype"></i></a>
                        <a class="pinterest" href="#" title="social"><i class="fa fa-pinterest"></i></a>
                        <a class="facebook" href="#" title="social"><i class="fa fa-facebook-square"></i></a>
                    </div>
                </div>
                <!-- End product -->
            </div>
            <div class="item-inner">
                <div class="product">
                    <div class="product-images">
                        <a href="#" title="product-images">
                            <img class="primary_image" src="~/Content/assets/images/products/1.jpg" alt="" />
                            <img class="secondary_image" src="~/Content/assets/images/products/1.jpg" alt="" />
                        </a>
                    </div>
                    <a href="#" title="Bouble Fabric Blazer"><p class="product-title">Bouble Fabric Blazer</p></a>
                    <p class="product-price-old">$700.00</p>
                    <p class="product-price">$69.90</p>
                    <div class="action">
                        <a class="add-cart" href="#" title="Add to cart"></a>
                        <a class="wish" href="#" title="Wishlist"></a>
                        <a class="zoom" href="#" title="Quick view"></a>
                    </div>
                    <!-- End action -->
                    <div class="social box">
                        <h3>Share this :</h3>
                        <a class="twitter" href="#" title="social"><i class="fa fa-twitter-square"></i></a>
                        <a class="dribbble" href="#" title="social"><i class="fa fa-dribbble"></i></a>
                        <a class="skype" href="#" title="social"><i class="fa fa-skype"></i></a>
                        <a class="pinterest" href="#" title="social"><i class="fa fa-pinterest"></i></a>
                        <a class="facebook" href="#" title="social"><i class="fa fa-facebook-square"></i></a>
                    </div>
                </div>
                <!-- End product -->
            </div>
            <div class="item-inner">
                <div class="product">
                    <div class="product-images">
                        <a href="#" title="product-images">
                            <img class="primary_image" src="~/Content/assets/images/products/1.jpg" alt="" />
                            <img class="secondary_image" src="~/Content/assets/images/products/1.jpg" alt="" />
                        </a>
                    </div>
                    <a href="#" title="Bouble Fabric Blazer"><p class="product-title">Bouble Fabric Blazer</p></a>
                    <p class="product-price-old">$700.00</p>
                    <p class="product-price">$69.90</p>
                    <div class="action">
                        <a class="add-cart" href="#" title="Add to cart"></a>
                        <a class="wish" href="#" title="Wishlist"></a>
                        <a class="zoom" href="#" title="Quick view"></a>
                    </div>
                    <!-- End action -->
                    <div class="social box">
                        <h3>Share this :</h3>
                        <a class="twitter" href="#" title="social"><i class="fa fa-twitter-square"></i></a>
                        <a class="dribbble" href="#" title="social"><i class="fa fa-dribbble"></i></a>
                        <a class="skype" href="#" title="social"><i class="fa fa-skype"></i></a>
                        <a class="pinterest" href="#" title="social"><i class="fa fa-pinterest"></i></a>
                        <a class="facebook" href="#" title="social"><i class="fa fa-facebook-square"></i></a>
                    </div>
                </div>
                <!-- End product -->
            </div>
            <div class="item-inner">
                <div class="product">
                    <div class="product-images">
                        <a href="#" title="product-images">
                            <img class="primary_image" src="~/Content/assets/images/products/1.jpg" alt="" />
                            <img class="secondary_image" src="~/Content/assets/images/products/1.jpg" alt="" />
                        </a>
                    </div>
                    <a href="#" title="Bouble Fabric Blazer"><p class="product-title">Bouble Fabric Blazer</p></a>
                    <p class="product-price-old">$700.00</p>
                    <p class="product-price">$69.90</p>
                    <div class="action">
                        <a class="add-cart" href="#" title="Add to cart"></a>
                        <a class="wish" href="#" title="Wishlist"></a>
                        <a class="zoom" href="#" title="Quick view"></a>
                    </div>
                    <!-- End action -->
                    <div class="social box">
                        <h3>Share this :</h3>
                        <a class="twitter" href="#" title="social"><i class="fa fa-twitter-square"></i></a>
                        <a class="dribbble" href="#" title="social"><i class="fa fa-dribbble"></i></a>
                        <a class="skype" href="#" title="social"><i class="fa fa-skype"></i></a>
                        <a class="pinterest" href="#" title="social"><i class="fa fa-pinterest"></i></a>
                        <a class="facebook" href="#" title="social"><i class="fa fa-facebook-square"></i></a>
                    </div>
                </div>
                <!-- End product -->
            </div>
            <div class="item-inner">
                <div class="product">
                    <div class="product-images">
                        <a href="#" title="product-images">
                            <img class="primary_image" src="~/Content/assets/images/products/1.jpg" alt="" />
                            <img class="secondary_image" src="~/Content/assets/images/products/1.jpg" alt="" />
                        </a>
                    </div>
                    <a href="#" title="Bouble Fabric Blazer"><p class="product-title">Bouble Fabric Blazer</p></a>
                    <p class="product-price-old">$700.00</p>
                    <p class="product-price">$69.90</p>
                    <div class="action">
                        <a class="add-cart" href="#" title="Add to cart"></a>
                        <a class="wish" href="#" title="Wishlist"></a>
                        <a class="zoom" href="#" title="Quick view"></a>
                    </div>
                    <!-- End action -->
                    <div class="social box">
                        <h3>Share this :</h3>
                        <a class="twitter" href="#" title="social"><i class="fa fa-twitter-square"></i></a>
                        <a class="dribbble" href="#" title="social"><i class="fa fa-dribbble"></i></a>
                        <a class="skype" href="#" title="social"><i class="fa fa-skype"></i></a>
                        <a class="pinterest" href="#" title="social"><i class="fa fa-pinterest"></i></a>
                        <a class="facebook" href="#" title="social"><i class="fa fa-facebook-square"></i></a>
                    </div>
                </div>
                <!-- End product -->
            </div>
            <div class="item-inner">
                <div class="product">
                    <div class="product-images">
                        <a href="#" title="product-images">
                            <img class="primary_image" src="~/Content/assets/images/products/1.jpg" alt="" />
                            <img class="secondary_image" src="~/Content/assets/images/products/1.jpg" alt="" />
                        </a>
                    </div>
                    <a href="#" title="Bouble Fabric Blazer"><p class="product-title">Bouble Fabric Blazer</p></a>
                    <p class="product-price-old">$700.00</p>
                    <p class="product-price">$69.90</p>
                    <div class="action">
                        <a class="add-cart" href="#" title="Add to cart"></a>
                        <a class="wish" href="#" title="Wishlist"></a>
                        <a class="zoom" href="#" title="Quick view"></a>
                    </div>
                    <!-- End action -->
                    <div class="social box">
                        <h3>Share this :</h3>
                        <a class="twitter" href="#" title="social"><i class="fa fa-twitter-square"></i></a>
                        <a class="dribbble" href="#" title="social"><i class="fa fa-dribbble"></i></a>
                        <a class="skype" href="#" title="social"><i class="fa fa-skype"></i></a>
                        <a class="pinterest" href="#" title="social"><i class="fa fa-pinterest"></i></a>
                        <a class="facebook" href="#" title="social"><i class="fa fa-facebook-square"></i></a>
                    </div>
                </div>
                <!-- End product -->
            </div>
        </div>
        <!-- End product-content products  -->
        <div class="pagination-container">
            <nav class="pagination align-center">
                <a class="prev page-numbers" href="#"><i class="fa fa-angle-left"></i></a>
                <span class="page-numbers current">1</span>
                <a class="page-numbers" href="#">2</a>
                <a class="page-numbers" href="#">3</a>
                <a class="next page-numbers" href="#"><i class="fa fa-angle-right"></i></a>
            </nav>
        </div>
        <!-- End pagination-container -->
    </div>
    <!-- End Primary -->

    <div id="secondary" class="widget-area col-xs-12 col-md-3">
        <aside class="widget widget_product_categories">
            <h3 class="widget-title">Categories</h3>
            <ul class="product-categories">
                <li>
                    <a href="#" title="Men">Men</a>
                    <ul class="children">
                        <li><a href="#" title="Bag & Luggage">Bag & Luggage</a></li>
                        <li><a href="#" title="Eyewear">Eyewear</a></li>
                        <li><a href="#" title="Jewelry">Jewelry</a></li>
                        <li><a href="#" title="Shoes">Shoes</a></li>
                        <li><a href="#" title="Skyrts">Skyrts</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" title="woment">woment</a>
                    <ul>
                        <li><a href="#" title="Bag">Bag</a></li>
                        <li><a href="#" title="Bed & Bath">Bed & Bath</a></li>
                        <li><a href="#" title="Sport tops & Vest">Sport tops & Vest</a></li>
                        <li><a href="#" title="Sport undewear">Sport undewear</a></li>
                    </ul>
                </li>
                <li><a href="#" title="kids">kids</a></li>
                <li><a href="#" title="All Product">All Product</a></li>
            </ul>
        </aside>
        <aside class="widget widget_feature">
            <h3 class="widget-title">Feature Products</h3>
            <ul>
                <li>
                    <a class="images" href="#" title="images">
                        <img class="img-responsive" src="~/Content/assets/images/products/furniture/1.jpg" alt="images">
                    </a>
                    <div class="text">
                        <h2>
                            <a href="#" title="Butterfly Bar Stool">Butterfly Bar Stool</a>
                        </h2>
                        <p><span class="price-old">$700</span><span>$350</span></p>
                        <p class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        </p>
                    </div>
                </li>
                <li>
                    <a class="images" href="#" title="images">
                        <img class="img-responsive" src="~/Content/assets/images/products/furniture/1.jpg" alt="">
                    </a>
                    <div class="text">
                        <h2>
                            <a href="#" title="Butterfly Bar Stool">Butterfly Bar Stool</a>
                        </h2>
                        <p><span class="price-old">$700</span><span>$350</span></p>
                        <p class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        </p>
                    </div>
                </li>
                <li>
                    <a class="images" href="#" title="images">
                        <img class="img-responsive" src="~/Content/assets/images/products/furniture/1.jpg" alt="">
                    </a>
                    <div class="text">
                        <h2>
                            <a href="#" title="Butterfly Bar Stool">Butterfly Bar Stool</a>
                        </h2>
                        <p><span class="price-old">$700</span><span>$350</span></p>
                        <p class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        </p>
                    </div>
                </li>
                <li>
                    <a class="images" href="#" title="images">
                        <img class="img-responsive" src="~/Content/assets/images/products/furniture/1.jpg" alt="">
                    </a>
                    <div class="text">
                        <h2>
                            <a href="#" title="Butterfly Bar Stool">Butterfly Bar Stool</a>
                        </h2>
                        <p><span class="price-old">$700</span><span>$350</span></p>
                        <p class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        </p>
                    </div>
                </li>
            </ul>
        </aside>
    </div>
    <!-- End Secondary -->
</div>
<!-- end product sidebar -->
